html, body {
  margin: 0;
  padding: 0;
}

.Canada {
  background: rgb(252,92,125);
  background: linear-gradient(90deg, rgba(252,92,125,1) 0%, rgba(106,130,251,1) 100%);
}

.Czechia {
  background: rgb(0,201,255);
  background: linear-gradient(90deg, rgba(0,201,255,1) 0%, rgba(146,254,157,1) 100%);
}

.Kingdom {
  background: rgb(233,100,67);
  background: linear-gradient(90deg, rgba(233,100,67,1) 0%, rgba(144,78,149,1) 100%);
}

.States {
  background: rgb(38,208,206);
  background: linear-gradient(90deg, rgba(38,208,206,1) 0%, rgba(26,41,128,1) 100%);
}

body {
  display: flex;
  justify-content: center;
}

.content {
  max-width: 1140px;
  width: 100%;
  background: #313131;
  margin: 10px 0 20px 0;
  border-radius: 25px;
  padding: 0 0 20px 0;
}

header h1 {
  margin: 0;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
  color: #e9e9e9;
}

header .gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 10px 20px 10px;
  align-items: center;
  background: #414141;
  border-radius: 25px;
  margin: 0 10px 0 10px;
}

header .gallery a {
  margin: 0 10px 0 10px
}

header .gallery a img {
  max-width: 100%;
  display: block;
}

.chapter-title {
  display: flex;
  justify-content: center;
  background-color: #e9e9e9;
  margin: 20px 10px 0 10px;
  border-radius: 25px;
}

.chapter-title h2 {
  margin: 0;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  font-size: 2em;
  text-align: center;
  color: #313131;
}

.section-title {
  background-color: #6d6d6d;
  margin: 0px 10px 0 10px;
  border-radius: 25px;
  position:relative;
}

.section-title h2 {
  margin: 0 0 0 10px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  color: #e9e9e9;
}

.section-content {
  padding: 40px 20px 10px 20px;
  margin: -20px 10px 0 10px;
  overflow: hidden;
  border-radius: 0 0 25px 25px;
  background-color: #414141;
  color: #e9e9e9;
  font-family: 'Open-Sans', sans-serif;
}

p {
  text-align: justify;
  margin: 0;
  padding: 0 0 10px 0;
  color: #e9e9e9;
  font-family: 'Open-Sans', sans-serif;
}

ul {
  margin: 0;
  padding: 0 0 10px 20px;
  font-family: 'Open-Sans', sans-serif;
}

h3 {
  margin: 0;
  font-family: 'Open-Sans', sans-serif;
}

.navbar {
  display: flex;
  background-color: #414141;
  border-radius: 25px;
  margin: 0 10px 10px 10px;
  padding: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar a {
  margin: 0 5px 0 5px;
}

.navbar-button {
  padding: 10px 20px 10px 20px;
  background-color: #e9e9e9;
  border-radius: 25px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  font-size: 1em;
  color: #313131;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

.navbar-button:hover {
  text-decoration: none;
  background-color: #313131;
  color: #e9e9e9;
}

li {
  text-align: justify;
}

.section {
  margin-top: 10px;
}
