html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 5em;
  text-align: center;
}

a {
  background: rgba(255, 255, 255, 0.1);
  margin: 0px 0px 10px 0px;
  padding: 15px 75px 15px 75px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  color: white;
  font-family: 'Open-Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  mix-blend-mode: normal;
  transition: background .5s;
  transition-timing-function: ease-in-out;
}

a:hover {
  background: rgba(255, 255, 255, 1);
  mix-blend-mode: screen;
  color: black;
}

a:hover, a:link, a:visited, a:active {
  text-decoration: none;
}
